<nav class="d-flex p-2" id="loginNavBar">
    <a type="button" id="loginPageNavBTN" class=" btn btn-outline-dark" href="/" id="HomeBTN">Home</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark" href="/list/:id">My list</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark">About us</a>
</nav>
<h1 id="titleHeaderTextLogin" class="d-flex">Rankedify</h1>

<div>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2>Check out everyone's top 5 list!</h2>
        </div>
        <ul>
            {{#each list.user_inputs.[0]}}
            <li>{{this}}</li>
            {{/each}}
            {{!-- {{list.user_inputs.[0].game_input_one}}
            {{list.user_inputs.[0].game_input_two}}
            {{list.user_inputs.[0].game_input_three}}
            {{list.user_inputs.[0].game_input_four}}
            {{list.user_inputs.[0].game_input_five}} --}}
        </ul>

    </section>

    <script src="/js/login.js"></script>
</div>