<body>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2>{{username}}</h2>
            <h1>boinker</h1>
        </div>
        <div class="user-list">
            <ol id="user-top5">
                <li id="rank1">{{gameName}}</li>
                <li id="rank2">{{gameName}}</li>
                <li id="rank3">{{gameName}}</li>
                <li id="rank4">{{gameName}}</li>
                <li id="rank5">{{gameName}}</li>
            </ol>
        </div>
    </section>

    <script src="/js/login.js"></script>
</body>