<nav class="d-flex p-2" id="loginNavBar">
    <a type="button" id="loginPageNavBTN" class=" btn btn-outline-dark" href="/" id="HomeBTN">Home</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark" href="/list/:id">My list</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark">About us</a>
</nav>
<h1 id="titleHeaderTextLogin" class="d-flex">Rankedify</h1>

<div>
    <section class="profile">
        <div class="profile-picture"></div>
        <div class="userame-title">
            <h2></h2>
        </div>
        <ul>
            {{#each list.games.[i].game_name}}
            <li>{{this}}</li>
            {{/each}}
            {{list.games.[1].game_name}}
            {{list.games.[2].game_name}}
            {{list.games.[3].game_name}}
            {{list.games.[4].game_name}}
        </ul>

    </section>

    <script src="/js/login.js"></script>
</div>