<div id="profileBody">
    <nav class="d-flex p-2" id="loginNavBar">
    <a type="button" id="loginPageNavBTN" class=" btn btn-outline-dark" href="/" id="HomeBTN" style="background: linear-gradient(45deg, red, blue); color: white">Home</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark" href="/list/:id" style="background: linear-gradient(45deg, red, blue); color: white">My list</a>
    <a type="button" id="loginPageNavBTN" class="btn btn-outline-dark" style="background: linear-gradient(45deg, red, blue); color: white">About us</a>
    </nav>
    <h1 id="titleHeaderTextLogin" class="d-flex">
        <span id="span">
            Rankedify
        </span>
    </h1>
    <section class="profile">
        <div class="profile-picture"></div>


        <div class="container">
            <div class="card" id="item" style="width: 18rem; background: black; color: white">
                <div class="card-header">
                    <div class="username-title">
                        <h2>
                            <b>{{username.username}}'s List</b>
                        </h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: rgb(144, 1, 152); color: white; text-shadow">
                        1. {{list.user_inputs.[0].game_input_one}}
                    </li>
                    <li class="list-group-item" style="background-color: rgb(152, 92, 1); color: white">
                        2. {{list.user_inputs.[0].game_input_two}}
                    </li>
                    <li class="list-group-item" style="background-color: rgb(10, 102, 16); color: white">
                        3. {{list.user_inputs.[0].game_input_three}}
                    </li>
                    <li class="list-group-item" style="background-color: rgb(25, 0, 255); color: white">
                        4. {{list.user_inputs.[0].game_input_four}}
                    </li>
                    <li class="list-group-item" style="background-color: rgb(35, 186, 240); color: white">
                        5. {{list.user_inputs.[0].game_input_five}}
                    </li>
                </ul>
            </div>
        </div>

    </section>
    {{#if loggedIn}}
    <script src="/js/mylist.js"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/login.js"></script>
    <script src="/js/delete.js"></script>
</div>